<div class="container" id="presentation-peliculas">
  <div class="row">
      <div class="column">
          <img src="assets/img/presentacionperlicula_4.jpg">
      </div>
      <div id="textopresentacionpeliculas" class="column">
          <br>
          <p>Vive toda la emoción de las películas en CineDistrito ;)</p>
      </div>
  </div>
</div>


<div class="container">
<div class="row justify-content-center">
<div class="col col-sm-12">
    <nav>
        <div class="nav nav-tabs nav-fill w-100 flex-md-row" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"  routerLink = "/cartelera_actual" role="tab" aria-controls="nav-home" aria-selected="true">Cartelera</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink = "/cartelera_proximamente" role="tab" aria-controls="nav-profile" aria-selected="false">Proximamente</a>
        </div>
    </nav>
</div>
</div>
</div>

