div{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px; 
}

#presentation-peliculas div{
    background-color: black;
}

#presentation-peliculas img{
    max-height: 100px;
}

#presentation-peliculas div div p{
    color: white;
    font-size: 20px;
}

#textopresentacionpeliculas{
    margin-left: 30px;
}