<div>
  <div class="row">
      <div class="col-12 col-sm-6">
          <div class="card text-center">
          <div class="card-body">
              <h4 class="card-title">Aprovecha nuestro especial de puntos !!!!</h4>
              <img src="assets/img/boletagratis.png" style="max-width:100%;max-height: 200px;">
              <p class="card-text">Acumula 100pts con tus compras y gana una boleta gratis para la función que quieras. </p>
              <a  class="btn btn-primary">Registrate y participa!</a>
          </div>
          </div>
      </div>
      <div class="col-12 col-sm-6">
          <div class="card text-center">
          <div class="card-body">
              <h5 class="card-title">Gana puntos por tus compras!!!</h5>
              <img src="assets/img/oferta_puntos.jpg" style="max-width:100%;max-height: 200px;">
              <p class="card-text">Por la compra de una boleta obtienes 10 puntos y 5 puntos en confiteria que seran registrados en tu cuenta CineDistrito</p>
              <a  class="btn btn-primary">Registrate y participa!</a>
          </div>
          </div>
      </div>
    </div>
</div>