<app-cartelera></app-cartelera>
  
<div class="row justify-content-center">

    <div class="col-12 col-sm-3 d-flex" *ngFor="let pelicula of datosPeliculas">
        <div class="card h-80">
            <img class="card-img-top"
                src="{{pelicula.v_foto}}"
                alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{pelicula.v_nombre}}</h5>
                <p class="card-text">{{pelicula.tx_sinapsis.substring(0,120)}}...</p>
                <a class="btn btn-danger" (click)="enviarDatosAlServicio(pelicula)" routerLink="/reservar">Reservar</a>
            </div>
        </div>
    </div>

</div>