<div id="social" class="container">
    <div id="socialRow" class="row">
        <div class="col col-sm-12">
            <nav class="navbar navbar-light navbar-nav">
                <ul class="navbar-nav flex-row text-center">
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-facebook"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-youtube"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" data-toggle="modal" data-target="#loginModal"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div id="main-menu" class="container">
    <div id="mainRow" class="row">
        <div id="iconMain" class="col col-sm-3">
            <a><img src="assets/img/CD14.png" style="max-width: 100%;"></a>
        </div>
        <div id="navMain" class="col col-sm-6 align-self-center">
            <nav id="navTagMain" class="">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item"><a class="nav-link px-2">CARTELERA</a></li>
                        <li class="nav-item"><a class="nav-link px-2">MULTIPLEX</a></li>
                        <li class="nav-item"><a class="nav-link px-2">PROMOCIONES</a></li>
                        <li class="nav-item"><a class="nav-link px-2">CONFITERIA</a></li>
                    </ul>
            </nav>
        </div>
        <div class="col col-sm-3 align-self-center">
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Multiplex
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" >Tintal</a>
                    <a class="dropdown-item" >Americas</a>
                </div>
            </div>
        </div>
    </div>
</div>

