<div class="card">
  <div class="card-header">Agregar Snacks</div>
  <div class="card-body">
    <form action="" method="post">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Tipo de Producto</span>
          </div>
          <input class="form-control" id="v_tipo" type="text" name="v_tipo">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre del producto</span>
          </div>
          <input class="form-control" id="v_nombre" type="text" name="v_nombre">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Descripción</span>
          </div>
          <textarea class="form-control" id="textarea-input" name="textarea-input" rows="2"
            placeholder="Descripción del producto..."></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Precio</span>
          </div>
          <input class="form-control" id="i_precio" type="number" name="i_precio">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Número de puntos ofrecidos</span>
          </div>
          <input class="form-control" id="puntosofrecidos" type="number" name="puntosofrecidos">
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>