<div class="card">
  <div class="card-header">Agregar Empleados</div>
  <div class="card-body">
    <form action="" method="post">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombres</span>
          </div>
          <input class="form-control" id="first-name" type="text" name="first-name">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Apellidos</span>
          </div>
          <input class="form-control" id="last-name" type="text" name="last-name">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Cedula</span>
          </div>
          <input class="form-control" id="cedula" type="text" name="cedula">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Telefono</span>
          </div>
          <input class="form-control" id="telefono" type="text" name="telefono">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Dirección</span>
          </div>
          <input class="form-control" id="telefono" type="text" name="telefono">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Nombre de usuario</span>
          </div>
          <input class="form-control" id="username" type="text" name="username">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Correo</span>
          </div>
          <input class="form-control" id="email" type="email" name="email">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Contraseña</span>
          </div>
          <input class="form-control" id="password" type="password" name="password">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-asterisk"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Tipos de contrato</span>
          </div>
          <select class="form-control" id="contratos" name="contratos">
            <option value="0">Seleccione</option>
            <option value="1">Contrato tipo 1</option>
            <option value="2">Contrato tipo 2</option>
            <option value="3">Contrato tipo 3</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Descuento empleado</span>
          </div>
          <input class="form-control" id="descuento" type="text" name="descuento">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-primary" type="submit">Registrar</button>
      </div>
    </form>
  </div>
</div>