<div class="row">
  <div class="col-12">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Registrate</h5>
        <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="signForm" >
          <div class="form-label-group">
            <label>Número Documento (CC)</label>
            <input formControlName="documento" type="number" min="0" class="form-control" placeholder="# Documento" required autofocus>
            <label>Nombres</label>
            <input formControlName="nombres" class="form-control" placeholder="Nombres" required autofocus>
            <label>Apellidos</label>
            <input formControlName="apellidos" class="form-control" placeholder="Apellidos" required autofocus>
            <label>Nombre de usuario</label>
            <input formControlName="usuario" class="form-control" placeholder="Usuario" required autofocus>
            <label>Correo</label>
            <input type="email" formControlName="inputEmail" class="form-control" placeholder="Ingresa tu Correo" required autofocus>
            <label>Telefono</label>
            <input formControlName="telefono" type="number" min="0" class="form-control" placeholder="Su telefono" required autofocus>
            <label>Dirección</label>
            <input formControlName="direccion" class="form-control" placeholder="Su dirección" required autofocus>
            <label>Contraseña</label>
            <input type="password" formControlName="inputPassworda" class="form-control" placeholder="Ingresa tu contraseña" required>
            <label>Confirma Contraseña</label>
            <input type="password" formControlName="inputPasswordb" class="form-control" placeholder="Confirma tu contraseña" required>
            <button *ngIf="!waitingForResponse" class="btn btn-lg btn-danger btn-block text-uppercase" type="submit" [formGroup]="signForm" [disabled]="!signForm.valid" >Registrarse</button>
            <img *ngIf="waitingForResponse"  src="assets/img/waitingForResponse2.gif" class="center">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>