<div class="card">
  <div class="card-header">Agregar una función a una sala</div>
  <div class="card-body" *ngIf="funciones && salas">
    <form action="" method="post">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Funciones de peliculas</span>
          </div>
          <select class="form-control" id="fk_pelicula" name="fk_pelicula" [(ngModel)]="fk_funcion">
            <option value="{{item.id}}" *ngFor="let item of funciones.results; let i = index" [ngValue]="item.id">
              <div>{{item.id}}: {{item.fk_pelicula.v_nombre}} </div>
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Salas de Cine</span>
          </div>
          <select class="form-control" id="fk_multiplex" name="fk_multiplex" [(ngModel)]="fk_sala">
            <option value="{{item.id}}" *ngFor="let item of salas.results" [ngValue]="item.fk_sala.id">
              <div>{{item.fk_sala.i_numsala}}: {{item.fk_sala.fk_multiplex.v_nombre}}</div>
            </option>
          </select>
        </div>
      </div>
      <br>
      <div class="text-center col-12">
        <button (click)="CrearSala()" class="btn btn-primary" type="submit">Registrar Función a Sala</button>
      </div>
    </form>
  </div>
</div>