

<div id="social">
    <div id="socialRow" class="row">
        <div class="col-12">
            <nav class="navbar navbar-light navbar-nav">
                <ul class="navbar-nav flex-row text-center">
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-facebook"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><button class="nav-link px-2" title="Ingresar" (click)="openLoginModal()" ><i class="fas fa-user"></i></button></li>
                    <li class="nav-item"><button class="nav-link px-2" title="Registrarse" (click)="openSignupModal()"><i class="fas fa-address-card"></i></button></li>
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-youtube"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2" ><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div id="main-menu">
    <div id="mainRow" class="row">
        <div id="iconMain" class="col col-sm-3">
            <a><img src="assets/img/CD14.png" style="max-width: 100%;" routerLink = "/home"></a>
        </div>
        <div id="navMain" class="col col-sm-6 align-self-center">
            <nav id="navTagMain" class="">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item"><a class="nav-link px-2" routerLink = "/cartelera_actual">CARTELERA</a></li>
                        <li class="nav-item"><a class="nav-link px-2" routerLink = "/multiplex">MULTIPLEX</a></li>
                        <li class="nav-item"><a class="nav-link px-2" routerLink = "/promociones">PROMOCIONES</a></li>
                    </ul>
            </nav>
        </div>
    </div>
</div>

