form{
    padding: 4em 2em 4em 2em;
    font-size: 18px;
    background-color: white;
}

h1{
    color: #b40c0c;
}

#presentation-peliculas div{
    background-color: black;
}

#presentation-peliculas img{
    max-height: 200px;
    max-width: 200px;
}

#presentation-peliculas div div p{
    color: white;
    font-size: 20px;
}


#nombre_pelicula{
    font-size: 24px;
}

#Multiplex_formGroup{
    padding-top: 2em;
}
