
<div id="presentation-peliculas">
    <div class="row">
        <div class="column">
            <img src="assets/img/presentacionperlicula_4.jpg">
        </div>
        <div id="textopresentacionpeliculas" class="column">
            <br>
            <p>Vive toda la emoción de las películas en CineDistrito ;)</p>
        </div>
    </div>
</div>
<form>
    <h3 id="nombre_pelicula">Reserva tu boleta para {{info_pelicula.Title}}</h3>
    <img src="{{info_pelicula.Poster}}" class="img-fluid">
    <h3>Sinopsis</h3><hr/>
    <p id="plot">{{info_pelicula.Plot}}</p>
    <h3>Director</h3><hr/>
    <p id="plot">{{info_pelicula.Director}}</p>
    <h3>Actores</h3><hr/>
    <p id="plot">{{info_pelicula.Actors}}</p>
    <h3>Genero</h3><hr/>
    <p id="plot">{{info_pelicula.Genre}}</p>
    <h3>Duración</h3><hr/>
    <p id="plot">{{info_pelicula.Runtime}}</p>
    <h3>Reservar</h3><hr/>
    <div id="Multiplex_formGroup" class="form-group">
      <label for="Multiplex">Selecciona un Multiplex</label>
      <select id="Multiplex" class="form-control">
        <option selected>...</option>
        <option *ngFor="let cinema of cinema_lista">{{cinema}}</option>
      </select>
    </div>
    <div id="Asiento_formGroup" class="form-group">
      <label for="Asiento">Selecciona un asiento </label>

      <!-- TABLA DE ASIENTOS-->
        <div class="row">
        <table class="table borderless">
          <tbody>
              <tr>
                <td>F</td>
                <td><button name="60" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="59" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="58" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="57" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="56" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td></td>
                <td><button name="55" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="54" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="53" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="52" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="51" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
              </tr>
              <tr>
                <td>E</td>
                <td><button name="50" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="49" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="48" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="47" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="46" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td></td>
                <td><button name="45" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="44" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="43" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="42" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="41" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
              </tr>
              <tr>
                  <td></td>
              </tr>
              <tr>
                <td>D</td>
                <td><button name="40" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="39" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="38" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="37" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="36" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td></td>
                <td><button name="35" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="34" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="33" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="32" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="31" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
              </tr>
              <tr>
                <td>C</td>
                <td><button name="30" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="29" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="28" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="27" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="26" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td></td>
                <td><button name="25" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="24" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="23" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="22" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="21" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
              </tr>
              <tr>
                <td>B</td>
                <td><button name="20" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="19" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="18" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="17" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="16" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td></td>
                <td><button name="15" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="14" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="13" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="12" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="11" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
              </tr>
              <tr>
                <td>A</td>
                <td><button name="10" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="9" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="8" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="7" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="6" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td></td>
                <td><button name="5" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="4" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="3" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="2" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
                <td><button name="1" type='button' (click)="onClickMe()"><i class="fas fa-chair"></i></button></td>
              </tr>
              <tr>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td></td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
              </tr>
          </tbody>
        </table>
      </div>
      <!---->


      
    </div>
    <p>Costo : {{precio}}</p>
    <button type="submit" class="btn btn-danger">Reservar</button>
  </form>