form{
    padding: 4em 2em 4em 2em;
    font-size: 18px;
    background-color: white;
}

h1{
    color: #b40c0c;
}

h3{
    margin-top: 2em;
    color: #b40c0c;
}

#presentation-peliculas div{
    background-color: black;
}

#presentation-peliculas img{
    max-height: 200px;
    max-width: 200px;
}

#presentation-peliculas div div p{
    color: white;
    font-size: 20px;
}


#nombre_pelicula{
    font-size: 24px;
}

#Multiplex_formGroup{
    padding-top: 2em;
}

#plot{
    margin-top: 2em;
}

form table{
    width: 50%;
    table-layout: fixed;
}

.borderless td, .borderless th {
    border: none;
    margin: 0;
}

.table .available {
    color: green;
}

.table .active {
    color: blue;
}

.table .onprocess{
    color: orange;
}

.table .reserved {
    color: red;
}

.table button{
    border: none;
}

form img{
    max-height: 400px;
    max-width: 300px;
}