#peliculas-div{
    background-color: #DAD8D8;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

#peliculas-div .row .card{
    margin-top: 1em;
    margin-bottom: 1em;
}