<div id="presentation-peliculas">
    <div class="row">
        <div class="column">
            <img src="/assets/img/presentacionperlicula_4.jpg">
        </div>
        <div id="textopresentacionpeliculas" class="column">
            <br>
            <p>Visita nuestros teatros, vive la emoción de los precios bajos ;)</p>
        </div>
    </div>
</div>
<div id="peliculas-div">
  <div class="row justify-content-around">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="assets/img/CD_1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mutiplex CineDistrito Americas</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="assets/img/CD_2.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mutiplex CineDistrito Unicentro</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="assets/img/CD_3.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mutiplex CineDistrito Gran Estación</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="assets/img/CD_4.jpg"  alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mutiplex CineDistrito Titán</h5>
          </div>
        </div>
      </div>
  </div>
</div>
